# Get data From a .csv file online

In [2]:
import pandas as pd

# url = "https://people.sc.fsu.edu/~jburkardt/data/csv/cities.csv"
# url = "https://people.sc.fsu.edu/~jburkardt/data/csv/nile.csv"
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/letter_frequency.csv"
# url = input("URL of the csv: ")

table_1 = pd.read_csv(url)
# table_1
table_1.head()
# table_1.describe()

    Letter   "Frequency"   "Percentage"
0      "A"      24373121            8.1
1      "B"       4762938            1.6
2      "C"       8982417            3.0
3      "D"      10805580            3.6
4      "E"      37907119           12.6

# From a Table on a web page

In [1]:
import pandas as pd
import numpy as np

URL = "https://en.wikipedia.org/wiki/Philadelphia_Phillies"
tables = pd.read_html(URL)
print("There are : ", len(tables), " tables")
print("Take a look at the table.")
table_1 = tables[4]
table_1

There are :  53  tables
Take a look at the table.

,0,1,2,3,4,5,6,7,8
0,Grover Cleveland Alexander * Dick Allen * Spar...,NaN,Steve Carlton *[144] Roger Connor Ed Delahanty...,NaN,Billy Hamilton * Bucky Harris Ferguson Jenkins...,NaN,Pedro Martínez[146] Tommy McCarthy Joe Morgan ...,NaN,Mike Schmidt *[147] Casey Stengel Jim Thome Sa...

In [ ]:
%pip install  lxml

Continue the above code

In [2]:
wins = np.array(table_1["Wins"])
losses = np.array(table_1["Losses"])
avg = wins / (wins + losses)
table_1["Average"] = avg
print(table_1["Manager", "WPct"])

KeyError: 'Wins'

Another example with tides

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import calendar
URL = "https://marineweather.net/tide/cape-may-canal-cape-may-delaware-bay-nj-tides"
tables = pd.read_html(URL)
print("There are : ", len(tables), " tables")
print("Take look at the table:")
table_1 = tables[0]
# print(table_1)
table_1.head()

There are :  1  tables
Take look at the table:

         Date     Time      Feet       Tide
0  Mon Aug 11   4:29am  -0.15 ft   Low Tide
1  Mon Aug 11  10:40am   5.21 ft  High Tide
2  Mon Aug 11   4:38pm  -0.07 ft   Low Tide
3  Mon Aug 11  11:00pm   5.90 ft  High Tide
4  Tue Aug 12   5:10am  -0.22 ft   Low Tide

Contonuing the tide example

In [13]:


time_list: "pd.Series[str]" = table_1["Time"]
date_list: "pd.Series[str]" = table_1["Date"]
h_array = []
m_array = []
d_array = []
epoch_array = []


for t in time_list:
    a = t.split(":")
    hour = int(a[0])
    b = a[1]
    min = int(b[0:2])
    if b[-2:] == "pm":
        hour = hour + 11
    h_array.append(hour)
    m_array.append(min)
for d in date_list:
    d_array.append(int(d[8::]))
for c in range(len(time_list)):
    t = datetime(2023, 8, d_array[c], h_array[c], m_array[c], 0)
    epoch_array.append(int(calendar.timegm(t.timetuple())))
print(epoch_array)
height_list = table_1["Feet"]
f_array = []
for f in height_list:
    f_array.append(float(f[0:4]))
print(f_array)

[1691728140, 1691750400, 1691768280, 1691791200, 1691817000, 1691839500, 1691857620, 1691880360, 1691905980, 1691968320, 1691947200, 1692016440, 1691995140, 1692014580, 1692037020, 1692062820, 1692084540, 1692104340, 1692127200, 1692152700, 1692174300, 1692194460, 1692217680, 1692243000, 1692264420, 1692284820, 1692308400, 1692333600, 1692354780, 1692375360, 1692399000, 1692424140, 1692445140, 1692465660, 1692536040, 1692514380, 1692574920, 1692555600, 1692582540, 1692604140, 1692621540, 1692645120, 1692671820, 1692693480, 1692711000, 1692734280, 1692760740, 1692782580, 1692800220, 1692823200, 1692849420, 1692871440, 1692889260, 1692912000, 1692937980, 1692960180, 1692978240, 1693000680, 1693026420, 1693048860, 1693067100, 1693089300, 1693114860, 1693137540, 1693156020, 1693224840, 1693203420, 1693265880, 1693245120, 1693313640, 1693292100, 1693311720, 1693334460, 1693359540, 1693381140, 1693401000, 1693424040, 1693449000, 1693470480, 1693490640, 1693513980]
[-0.1, 5.21, -0.0, 5.9, -0.2, 5.41, -0.0, 5.67, -0.2, 5.55, 0.11, 5.34, -0.1, 5.61, 0.3, 4.97, 0.05, 5.61, 0.49, 4.61, 0.23, 5.57, 0.64, 4.34, 0.37, 5.55, 0.69, 4.22, 0.44, 5.6, 0.63, 4.26, 0.4, 5.71, 0.49, 4.43, 0.3, 5.84, 0.33, 4.65, 0.19, 5.91, 0.2, 4.85, 0.11, 5.91, 0.14, 5.01, 0.1, 5.8, 0.14, 5.12, 0.16, 5.61, 0.21, 5.17, 0.29, 5.36, 0.33, 5.17, 0.45, 5.05, 0.49, 5.13, 0.65, 4.73, 0.67, 5.06, 0.86, 4.41, 0.85, 4.97, 1.06, 4.12, 1.02, 4.89, 1.22, 3.89, 1.13, 4.85, 1.3]

Simple example

In [ ]:
# 
from typing import Literal


x: list[int] = [1,2]
x[0] = "a"
def a():
    global x
    x = 2
print(type(x))

<class 'int'>